{% extends "base.html" %}

{% block content %}
    <div id="main">
        <h2><p>Глубоководные</p></h2>
        <h4>
            <p>Глубоководные (англ. Deep Ones) — существа, живущие в морях, амфибии, объединяющие в себе черты
                гуманоидов, рыб и лягушек. Глубоководные поклоняются Отцу Дагону и Матери Гидре и Ктулху. Дагон и
                Гидра являются представителями расы Ктулхи, потомков Великого Ктулху. Кроме того, они —
                непосредственные покровители Глубоководных. Глубоководные заключают соглашения с людьми, и в обмен
                на человеческие жертвоприношения и возможность спариваться с женщинами дают им рыбу и золото,
                которого немало в подводных глубинах.
            </p>
            <img class="left" src="{{ image1 }}"/>
        </h4>
        <h5>Глубоководные в Некрономиконе</h5>
        <h4>
            <h2>Происхождение и история</h2>
            <h4>
                <p>Досконально неизвестно, но бытует мнение, что Глубоководные прошли от общего с человеком предка,
                    созданного Старцами, что объясняет возможность скрещивания их с людьми.
                </p>
                <p>Их история описана в рассказе Лавкрафта «Тень над Иннсмутом», где Глубоководные, проживающие в
                    подводном городе Й’хан-тлеи под Рифом Дьявола, заключили сделку с капитаном Маршем, жителем
                    рыбацкого городка Иннсмут. Капитан создал в Иннсмуте Тайный Орден Дагона, в котором стали
                    проводиться человеческие жертвоприношения. Кроме того, Глубоководные стали спариваться с
                    жителями Иннсмута. В обмен на это они снабжали городок рыбой и золотом. Иннсмут процветал под
                    покровительством Глубоководных, однако вскоре капитан Марш был арестован, Орден разогнан, и
                    жертвоприношения прекратились. Тогда разгневанные Глубоководные вышли на берег и уничтожили
                    большую часть населения города, оставив лишь последователей Ордена. С тех пор, в течение
                    восьмидесяти лет, союз Глубоководных и жителей Иннсмута стал настолько крепок, что в городе
                    практически не осталось чистокровных людей — росло уже очередное поколение гибридов. Рыба на
                    побережье не иссякала, золото не кончалось, и правительство наконец заинтересовалось
                    деятельностью горожан. Был произведен рейд на город, во время которого Риф Дьявола и город
                    Й’хан-тлеи были разрушены торпедой. Некоторое время спустя Иннсмут опустел — все его жители
                    обратились в Глубоководных и ушли в глубины.
                </p>
                <h2>Описание</h2>
                <h4>
                    <blockquote>Мне показалось, что в своей массе они были серовато-зеленого цвета, но с белыми
                        животами. Большинство из них блестели и казались осклизлыми, а края их спин были покрыты
                        чем-то вроде чешуи. Очертаниями своими они лишь отдаленно напоминали антропоидов, тогда как
                        головы были определенно рыбьи, с выпуклыми, даже выпученными глазами, которые никогда не
                        закрывались. Сбоку на их шеях виднелись трепещущие жабры, а между отростками длинных лап
                        поблескивали натянутые перепонки, Они вразнобой подпрыгивали, отталкиваясь то двумя, а то
                        всеми четырьмя конечностями, и я как-то даже обрадовался, что у них их было всего четыре. Их
                        хриплые, лающие голоса, явно созданные для некоего подобия речи, несли в себе массу жутких и
                        мрачных оттенков, с лихвой компенсировавших малую выразительность их морд.<p> - Г.Ф.
                            Лавкрафт, «Тень над Иннсмутом»</p></blockquote>
                    <img class="left" src="{{ image2 }}"/>
                </h4>
                <h5>Глубоководные</h5>
                <h4>
                    <h2>Гибриды</h2>
                    <h4>
                        <p>Глубоководные бессмертны или, по крайней мере, живут очень долго. Тем не менее, их
                            численность практически не растет, и они вынуждены спариваться с людьми, чтобы
                            распространить свое влияние.
                        </p>
                        <p>Дети людей и глубоководных рождаются гуманоидами с человеческой внешностью. Все детство
                            они сохраняют человеческие черты, а потом начинают постепенно трансформироваться: уши
                            уменьшаются, глаза выпучиваются, исчезают веки, сужается голова, выпадают волосы, на
                            коже вырастает чешуя, на шее постепенно формируются жабры. Таким образом, все взрослые
                            особи выглядят как полноценные Глубоководные и готовы к погружению в глубины.
                        </p>
                    </h4>
    </div>
    <div id="right">
        <h1 class="topright" class="fix_block">Разделы</h1>
        <div class="rightitem">
            <ul>
                <li><a href="str4.html">Вступление</a></li>
                <li><a href="str40.html">Древние</a></li>
                <li><a href="str41.html">Ктулху</a></li>
                <li><a href="str42.html">Дагон</a></li>
                <li><a href="str43.html">Хастур</a></li>
                <li><a href="str44.html">Азатот</a></li>
                <li><a href="str45.html">Ньярлатхотеп</a></li>
                <li><a href="str46.html">Шаб-Ниггурат</a></li>
                <li><a href="str47.html">Йог-Сотот</a></li>
                <li><a href="str48.html">Старшие боги</a></li>
                <li class="selected1"><a href="str49.html">Глубоководные</a></li>
                <li><a href="str491.html">Старцы</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block menu %}
    <ul>
        <li><a href="index.html"><span>Биография</span></a></li>
        <li><a href="str3.html"><span>Произведения</span></a></li>
        <li><a class="selected" href="str4.html"><span>Бестиарий</span></a></li>
    </ul>
{% endblock %}