{% extends "base.html" %}

{% block content %}
<div id="main">
    {% if par == 0 %}
        <h2>Welcome {{name}}</h2>
    {% endif %}
    {% if par == 1 %}
        <h2>ERROR</h2>
    {% endif %}
    {% if par == 2 %}
        <h2>Такой email уже есть</h2>
    {% endif %}
</div>
{% endblock %}

{% block menu %}
<ul>
    <li><a href="index.html"><span>Биография</span></a></li>
    <li><a href="str3.html"><span>Произведения</span></a></li>
    <li><a href="str4.html"><span>Бестиарий</span></a></li>
</ul>
{% endblock %}
