{% extends "base.html" %}

{% block content %}
<div id="main">
    <h2>Войти</h2>
    <form method="post">
        <p><input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес почты" name="email"></p>
        <p><input type="password" class="form-control" id="password" placeholder="Введите пароль" name="password"></p>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>

{% endblock %}

{% block menu %}
<ul>
    <li><a href="index.html"><span>Биография</span></a></li>
    <li><a href="str3.html"><span>Произведения</span></a></li>
    <li><a href="str4.html"><span>Бестиарий</span></a></li>
</ul>
{% endblock %}
