{% extends "base.html" %}

{% block content %}
<div id="main">
    <h2>Смерть</h2>
    <h4>
        <p>Узнав о кончине друга, который выстрелил себе в рот из пистолета, Говард не мог прийти в себя. В
            конечном итоге он перестал употреблять пищу, ибо у него обнаружили рак кишечника. Лавкрафт умер 15
            марта 1937 года в родном Провиденсе, пережив Роберта Говарда на девять месяцев.</p>
        <img class="left" src="my_images/str231.jpg"/></h4>
    <h5>Могила Говарда Лавкрафта</h5>
    <h4>
        <p>Впоследствии произведения писателя часто брались в основу различных фильмов и мультфильмов, а самому
            Говарду хотели возвести памятник в Провиденсе.</p></h4>
</div>
<div id="right">
    <h1 class="topright" class="fix_block">Разделы</h1>
    <div class="rightitem">
        <ul>
            <li><a href="index.html">Кратко</a></li>
            <li><a href="str21.html">Детство</a></li>
            <li><a href="str22.html">Личная жизнь</a></li>
            <li class="selected1"><a href="str23.html">Смерть</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block menu %}
<ul>
    <li><a class="selected" href="index.html"><span>Биография</span></a></li>
    <li><a href="str3.html"><span>Произведения</span></a></li>
    <li><a href="str4.html"><span>Бестиарий</span></a></li>

</ul>
{% endblock %}