{% extends "base.html" %}

{% block content %}
    <div id="main">
        <h2><p>Ньярлатхотеп</p></h2>
        <h4>
            <blockquote> И тогда Нъярлотхотеп вышел из Египта. Кто он, никто не знал, только был он древних туземных
                кровей и походил на фараона. Феллахи падали ниц, завидев его, хотя никто не мог сказать почему.
                Нъярлотхотеп говорил, что восстал сквозь тьму двадцати семи веков, и что голоса не с этой планеты
                доступны его слуху. В земли цивилизации пришел Нъярлототеп, смуглый, стройный и зловещий.<strong><p>
                    - О Ньярлатхотепе</p></strong></blockquote>
            <img class="left" src="{{ image1 }}"/>
        </h4>
        <h5>Ньярлатхотеп в Некрономиконе</h5>
        <h4>
            <p>Ньярлатхоте́п, также называемый «Ползучий Хаос» и имеющий ещё много имён (англ. Crawling Chaos) —
                Иной Бог, появившийся в работах Г. Ф. Лавкрафта и его Мифах Ктулху, впервые появившись как главный
                антагонист в рассказе Ньярлатотеп (1920) и главный антагонист фантастической новеллы
                Сомнамбулический поиск неведомого Кадата (1943). В будущем, он упоминался во многих произведениях
                Лавкрафта.
            </p>
            <p>Он описывается как агент, изменяющий форму, который служит Древним Богам. Он часто посещает Землю и
                наслаждается безумием и страданиями низших существ (иногда людей).
            </p>
            <p>Он — сын Азатота, Слепого Безумного Бога, и подчиняется ему.
            </p>
            <img class="left" src="{{ image2 }}"/>
        </h4>
        <h5>Ньярлатхотеп</h5>
        <h4>
            <p>Ньярлатотеп описывается как мастер изменять внешность с более тысячи форм, многие из которых являются
                чудовищными, способными вводить смертных в безумие — черта, присущая Лавкравтовским монстрам,
                однако, в отличие от других Иных Богов, он также часто принимает человеческую форму, выглядящую как
                загадочный мужчина, одетый как египетский фараон.
            </p>
            <p>Ньярлатхотеп любит вводить людей в безумие, считая, что это более приятно, чем простая смерть, и
                представляет собой более человеческое зло, чем другие Иные Боги, часто используя обман и
                манипуляции, чтобы сливаться с людьми, чтобы запечатлеть их гибель. Эти черты, в сочетании с его
                способностью свободно ходить рядом со смертными, делает его одним из самых страшных монстров
                Лавкрафта.
            </p>
            <img class="left" src="{{ image3 }}"/>
        </h4>
        <h5>Ньярлатхотеп</h5>
        <h4>
            <p>Несмотря на то, что он не настолько силён, как его создатель Азатот, ни как космическая сущность
                Йог-Сотот, он остаётся Иным Богом, и поэтому Ньярлатхотеп бессмертен и невероятно силён, а также
                сложно воспринимается человеческим разумом. Считается, что Ньярлатотеп может способен контролировать
                мистические энергии космоса на неопределённом уровне, как космическом, так и демоническом. Он
                способен создавать огромное множество аватаров. В то время, как безграничный разум Бога есть у всех
                аватаров, каждый сильно различается по внешнему виду, силе и целям. Некоторые аватары почитаются как
                отдельные существа, а последователи не знают, что это всего лишь часть более могущественного
                существа. Так как он может изменять форму, он может принять форму человека. Подобно Ктулху, его
                присутствия достаточно, чтобы свести смертных, как люди, с ума, а также он может общаться с ними
                телепатически. Он может свободно путешествовать по всем плоскостям существования и существует за
                пределами "архетипической бесконечности".</p>
            <p>Ньярлатхотеп действует как посланник других Иных Богов, и, похоже, не поддерживает лояльности к
                определённому существу. Он служит им всем, в некотором роде, хотя он, как говорят, особенно предан
                Азатоту, чьи пожелания он выполнит без лишних вопросов.
            </p>
        </h4>
    </div>
    <div id="right">
        <h1 class="topright" class="fix_block">Разделы</h1>
        <div class="rightitem">
            <ul>
                <li><a href="str4.html">Вступление</a></li>
                <li><a href="str40.html">Древние</a></li>
                <li><a href="str41.html">Ктулху</a></li>
                <li><a href="str42.html">Дагон</a></li>
                <li><a href="str43.html">Хастур</a></li>
                <li><a href="str44.html">Азатот</a></li>
                <li class="selected1"><a href="str45.html">Ньярлатхотеп</a></li>
                <li><a href="str46.html">Шаб-Ниггурат</a></li>
                <li><a href="str47.html">Йог-Сотот</a></li>
                <li><a href="str48.html">Старшие боги</a></li>
                <li><a href="str49.html">Глубоководные</a></li>
                <li><a href="str491.html">Старцы</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block menu %}
    <ul>
        <li><a href="str5.html"><span>Новости</span></a></li>
        <li><a href="index.html"><span>Биография</span></a></li>
        <li><a href="str3.html"><span>Произведения</span></a></li>
        <li><a class="selected" href="str4.html"><span>Бестиарий</span></a></li>
    </ul>
{% endblock %}