{% extends "base.html" %}

{% block content %}
    <div id="main">
        <h2><p>Древние</p></h2>
        <h4>
            <p>Древние, Великие Древние (англ. <span lang=en xml:lang=en>Great Old Ones</span>) — вымышленные
                существа из мифологии, созданной Говардом Филлипсом Лавкрафтом (Мифы Ктулху).</p>
            <p>Владыки — это Сила и наимощнейшие Концентрации Силы, которые лежат в основе Силы.</p>
            <p>Древние (или Древнейшие) — это или порождения Силы (не порождение Сознаний наподобие богов), или
                смертное существо которое преступило грань смертности и истинное место пребывания которого Сила.</p>
            <img class="left" src="{{ image1 }}"/>
        </h4>
        <h5>Древние в Некрономиконе</h5>
        <h4>
            <p>Древние — невероятно могущественные существа, ровесники Вселенной. Почитаемы членами мистических сект
                как тёмные боги. Древние обитают в других звёздных системах или вообще за пределами нашего
                измерения, реже они скрываются в глубинах морей или недрах Земли. Как правило, в видимом облике
                Древние обладают гигантскими размерами.</p>
            <p>Древнеподобные — это слуги Древних, они подобны Древним, но обладают ограниченными, в отличие от
                Древних, способностями.<br/>
                Древний может создать любую физическую форму из Силы и управлять ей. Он может создать идентичную
                смертным форму и управлять ей или управлять телами смертных. Сила для Древнего словно пластилин из
                которого Древний может лепить то что захочет.</p>
            <p>Форма самого Древнего или его «кукол» может обладать любыми материальными, нематериальными,
                сверхматериальными, энергетическими, Силовыми и любыми другими органами которые Древний возжелает.
                Форма созданная Древним может быть не видимой для глаз смертного, и если Древний возжелает, может не
                обладать любыми формами.</p>
            <p>Не стоит воспринимать Древних как эгрегориальные образования, так же не стоит причислять их к разряду
                мифических существ, Древние далеки от всего этого.</p>
            <p>Они есть персонификации изначального Хаоса, который есть высшая протосубстанция, из которой всё
                зарождается и в ней же уничтожается. Древние извечно прибывали в первозданном Хаосе, в водах Апсу и
                Тиамат они впервые смогли проявить свои удивительные тела, когда не было ни Сфер, ни Звёзд, ни
                Вселенной.</p>
            <p>Триада Древних, в лице Азаг-Тотха, Йог-Сототха и [имя третьего сокрыто от непосвящённых], создала
                Вселенную. Йог-Сототх явил собой материальную Вселенную, растущую, расширяющуюся и пульсирующую.
                Азаг-Тотх стал её центром, ядерным хаосом в центре Вселенной, там, где плотность её материи наиболее
                велика, он пульсирует, испуская волны вероятности, определяющие направления развития Вселенной.</p>
            <p>Позднее Древние, населявшие Вселенную, сотворили Старших Богов, которые впоследствии создали
                Младших.</p>
            <img class="left" src="{{ image2 }}"/>
        </h4>
        <h5>Древние</h5>
        <h4>
            <p>В какой-то момент Старшие, позавидовав Власти Древних, развязали Великую Сечь, первую войну Богов. В
                итоге этого конфликта Древние были скинуты За Грань, в волны первородного Хаоса, Вселенная была
                заключена в Хрустальную Тюрьму, те же Древние, что по определённым причинам остались во Вселенной,
                т.е. внутри Хрустальной Тюрьмы, были заперты в своих узилищах и погружены в подобие летаргического
                сна.</p>
            <p>Иными словами Старшие почувствовав свою слабость, улучили момент в бою и скинув Древних За Грань,
                заперлись от них в Хрустальной Тюрьме, запечатав Врата Старшими Знаками.</p>
            <p>Нередко противостояние Великих Древних и Старших Богов рассматривают как противостояние зла и добра
                &#8212; что является неверным. Старшие Боги являются для людей лишь условно &#171;добрыми&#187;, и
                на самом деле они не менее чужды людям, чем Великие Древние. В ряде произведений последователей
                Лавкрафта герои используют для защиты от Великих Древних &#171;знак Старших Богов&#187;.</p>
            <img class="left" src="{{ image3 }}"/>
        </h4>
        <h5>Знак Культистов</h5>
        <h4>
            <p>Согласно другой трактовке, Великие Древние скрылись из видимой вселенной по собственному желанию, или
                впали в состояние, напоминающее физиологическую спячку животных.</p>
            <div>
                <blockquote><p>Древние были, Древние есть, и Древние будут. Не в тех пространствах, о которых нам
                    известно, но между ними. Они идут невозмутимые и изначальные, безразмерные и невидимые для нас.
                    Йог-Сотот знает врата. Йог-Сотот и есть врата. Йог-Сотот — и ключ, и страж врат. Прошлое,
                    настоящее, будущее, всё — в Йог-Сототе. Он знает, откуда Древние пришли в прошлом, и знает,
                    откуда Они придут в будущем.</p>
                    <p><strong> — «Ужас Данвича», Г. Ф. Лавкрафт</strong></p></blockquote>
            </div>
            <p>Говорится, что у Древних нет определённого пантеона, но условно на первый план выступают Семеро
                Древних. По определённым причинам Старшие не смогли их уничтожить и погрузили в состояние сна, тем
                самым временно ограничив безопасность своего существования, но грядёт Пробуждение!</p>
            <p>Часто говорится, что Древние это Боги, здесь и кроется ошибка в их понимании человеком и Древних
                причисляют к эгрегорам.</p>
            <p>Человек склонен понимать, что выше бога никого нет, так под эту гребёнку попадают и Древние. Древние
                не являются энергоинформационными образованиями, созданными слепой верой человека, они источники
                энергий Хаоса, его персонификации.</p>
            <p>Того бесконечного, первородного Хаоса, что лежит за пределами Вселенной. Человек не может понять, не
                говоря уже о том, чтобы постигнуть Хаос, Культист Древних же обращаясь к Древним, выходит на
                первозданный Хаос. Древние являют собой энергию Хаоса во всевозможных её многомерных проявлениях, в
                том числе и материальных.</p>
            <img class="left" src="{{ image4 }}"/>
        </h4>
        <h5>Древние</h5>
        <h4>
            <p>Не следует думать, что т.н. Грань железным занавесом держит “Обитателей Пустоты”, проходя через Врата
                они являются в материальный мир Вселенной (к слову говоря, Культисты так же взаимодействуют с той
                стороной через эти же врата), при этом являя собой некий материальный кокон, в котором сосредоточена
                энергия Хаоса, хороший, но тем не менее слабый, пример для понимания, это сверхмощная чёрная дыра,
                заключённая в ореховую скорлупу.</p>
            <p>При разрушении такой скорлупы на свободу вырвется мощнейшая сила, как пожирающая всё на своём пути,
                так и исторгающая разного рода энергии.</p>
            <p>При этом большинство гриммуаров и прочих источников гласят о возвращении Древних на Землю, что грозит
                уничтожением человечеству.</p>
            <p>Стоит понять, раз и навсегда, что Земля это не центр вселенный и она никому нужна, подобных обитаемых
                и необитаемых Сфер во Вселенной “пруд пруди”.</p>
            <p>И Древние не ворвутся на Землю и не будут топтать и жрать людишек. В определённый момент, произойдёт
                слияние двух миров, материальной Вселенной и первозданного Хаоса. При этом пробудятся Древние,
                воссоединившись с Хаосом и первым от этого пострадают не люди, этих муравьёв просто никто не
                заметит, а разного рода энергоинформационные образования и прочие ныне царствующие во Вселенной
                энергетические силы, иными словами пресловутые Старшие.</p>
            <p>Они “познают всю мощь и ярость Древних”, претерпят изменения и будут поглощены первородным
                Хаосом.</p>
        </h4>
    </div>
    <div id="right">
        <h1 class="topright" class="fix_block">Разделы</h1>
        <div class="rightitem">
            <ul>
                <li><a href="str4.html">Вступление</a></li>
                <li class="selected1"><a href="str40.html">Древние</a></li>
                <li><a href="str41.html">Ктулху</a></li>
                <li><a href="str42.html">Дагон</a></li>
                <li><a href="str43.html">Хастур</a></li>
                <li><a href="str44.html">Азатот</a></li>
                <li><a href="str45.html">Ньярлатхотеп</a></li>
                <li><a href="str46.html">Шаб-Ниггурат</a></li>
                <li><a href="str47.html">Йог-Сотот</a></li>
                <li><a href="str48.html">Старшие боги</a></li>
                <li><a href="str49.html">Глубоководные</a></li>
                <li><a href="str491.html">Старцы</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block menu %}
    <ul>
        <li><a href="str5.html"><span>Новости</span></a></li>
        <li><a href="index.html"><span>Биография</span></a></li>
        <li><a href="str3.html"><span>Произведения</span></a></li>
        <li><a class="selected" href="str4.html"><span>Бестиарий</span></a></li>
    </ul>
{% endblock %}