{% extends "base.html" %}

{% block content %}
    <div id="main">
        <h2><p>Ктулху</p></h2>
        <h4>
            <img class="left" src="{{ image1 }}"/>
        </h4>
        <h5>Кулху в Некрономиконе</h5>
        <h4>
            <p><b>Ктулху</b> (англ.Cthulhu) — божество из пантеона великого писателя ужасов Г. Ф. Лавкрафта.
                Является главным антагонистом рассказа Зов Ктулху (1928). Является одним из главных Великих Древних
                в Мифах Ктулху, расы божеств. Ктулху известен своим гротескным видом и гигантскими размерами, а
                также способностью приводить в безумие каждого, кто его увидит.
            </p>
            <p>Хотя он не самый могущественный из творений Лавкрафта (уступает таким Иным Богам как Йог-Сотот и
                Азатот), он является одним из самых узнаваемых персонажей Мифов Ктулху с тех пор как был проявлен в
                1920-ых.
            </p>
            <img class="left" src="{{ image2 }}"/>
        </h4>
        <h5>Кулху</h5>
        <h4>
            <p>Ктулху родился на планете, находящейся в 23-ей туманности. Он отправился к звезде Зот, где породил
                потомство. Вместе со своими детьми Ктулху отправился на Сатурн, а затем на Землю. Они высадились на
                континенте в Тихом Океане и построили город Р'льех. Ктулху было оказано сопротивление от лица
                Старцев, которые также жили на планете. В результате кровопролитной войны был заключён мирный
                договор: новые земли отходили Ктулху, а за Старцами оставалось море и прежние владения. Затем Ктулху
                вошёл в долгую спячку в Р'льехе. Человечество пока только эволюционировало, и Ктулху мог общаться
                телепатически с некоторыми из людей через сны, в результате чего образовался Культ Ктулху. Затем
                из-за бедствия Р'льех ушёл под воду. Однако, Р'льех мог подниматься из-под воды на небольшое время.
                Тем не менее, Р'льеху суждено в один момент не опуститься в море, и тогда Ктулху вернётся.
            </p>
            <img class="left" src="{{ image3 }}"/>
        </h4>
        <h5>Кулху</h5>
        <h4>
            <p>На вид Ктулху разными частями тела подобен осьминогу, дракону и человеку: судя по барельефу Энтони
                Уилкокса, героя «Зова Ктулху», и таинственному древнему изваянию из рассказа, чудовище имеет голову
                с щупальцами, гуманоидное тело, покрытое чешуёй, и пару рудиментарных крыльев. Описание из
                вымышленного журнала Густафа Йохансена добавляет, что живой Ктулху хлюпает и истекает слизью при
                движении, а тело его зелено, студенисто и чудесным образом регенерирует с наблюдаемой быстротой.
                Точный рост его не указывается; Йохансен уподобил чудище «ходячей горе», большей, чем «легендарный
                Циклоп»; Ктулху (плывущий или же идущий по дну) «воздымался над нечистой пеной, как корма
                демонического галеона».
            </p>
            <p>Ктулху, как говорится, имеет культ последователей, сосредоточенный в Аравии и распространяющийся по
                всему свету. Предполагается, что лидеры культа живут в горах Китая. Этот культ является
                нигилистическим по своей природе и стремится пробудить Древних и начать апокалиптический век, в
                котором люди будут убивать друг друга в припадке безумия. Ктулху также поклоняются Глубоководные
                другие существа из мифов Лавкрафта.
            </p>
            <img class="left" src="{{ image4 }}"/>
        </h4>
        <h5>Кулху</h5>
        <h2>Он Видит Сны...</h2>
        <h4>
            <p>В большинстве историй, Ктулху бездействует, спя глубоко под океаном в городе Р'льехе, но всё же может
                влиять на мир телепатически. Говорят, как только Ктулху окончательно проснётся, то выйдет из глубин
                и уничтожит мир; к счастью для человечества, Ктулху этого ещё не сделал. Однако, он к этому
                приблизился, когда группа моряков натолкнулась на город Р'льех, который вышел из-под воды из-за
                звёзд.</p>
            <p>Они открыли одно из сооружений, и Ктулху вышел и напал на них. Существо остановили только тогда,
                когда единственный моряк, оставшийся в здравом уме протаранил Ктулху кораблём. Когда он отплывал, он
                увидел, что Ктулху полностью восстановился. Миру настал бы конец тогда, но Р'льех погрузился
                внезапно под воду.
            </p></h4>
        <h2>Р'льех</h2>
        <h4>
            <p><b>Р’льех</b> (англ. R’lyeh) — город, созданный Древними в незапамятные времена. В настоящее время он
                затоплен и находится на дне Мирового океана (на иллюстрации показаны местоположение Р’льеха по
                версиям Лавкрафта и Дерлета). Архитектура Р’льеха характеризуется Лавкрафтом как «циклопическая» и
                «неевклидова» (Лавкрафт подразумевает, что Р’льех построен в большем числе измерений, чем способен
                воспринимать человеческий разум, поэтому люди видят Р’льех искажённым). На стенах зданий Р’льеха
                высечены ужасные изображения и иероглифы.
                <img class="left" src="{{ image5}}"/>
        </h4>
        <h5>Р'льех</h5>
        <h4>
            </p><p>Чувствительные люди, способные воспринимать зов Ктулху, иногда видят Р’льех во сне. Первое
            описание города дано со слов скульптора Генри Энтони Уилкокса.
        </p>
            <p>Лавкрафт поместил Р’льех в 47° 9' южной широты и 126° 43' западной долготы. Однако Август Дерлет,
                один из последователей Лавкрафта и основатель понятия «Мифы Ктулху», утверждает, что он расположен
                на 49° 51' южной широты и 128° 34' западной долготы. Обе точки расположены на юге Тихого океана.</p>
            <img class="left" src="{{ image6 }}"/>
        </h4>
        <h5>Местоположение Р'льеха</h5>
        <h2>Семья Ктулху
            <h2>
                <h4>
                    <p>Первенство в иерархии Древних принадлежит Йог-Сототу (Yog-Sothoth) и Азатоту (Azathoth),
                        однако культ Ктулху, тем не менее, является самым распространенным (и самым влиятельным) на
                        Земле.
                    </p>
                    <p>Главный противник Ктулху, согласно Дерлету, — его единоутробный брат Хастур (Hastur), живущий
                        в звездном скоплении Гиады (Hyades) созвездия Тельца. Интересно, что рассказ &#xAB;Возвращение
                        Хастура&#xBB; (1939) описывает физический, реальный контакт этих двух божеств.</p>
                    <p>Ктхулла (Cthulla) — Тайная дочь Ктулху. Как ясно из ее второго имени, эта юная (по
                        космическим меркам) дама — родная дочь самого знаменитого монстра из книг Лавкрафта. Будучи
                        полной копией своего папочки, она прячется в некоем потайном месте под названием Ютх (Yth).
                        Ее предназначение — возродить Ктулху в том случае, если он погибнет. В связи с этим она
                        представляет большую ценность для отца — Ктхуллу тщательно охраняют его слуги.</p>
                    <p>Несмотря на то, что Ктулху является не самым могущественным из Великих Древних, и уступает в
                        могуществе Иным Богам, он является очень сильным существом. Будучи почти богоподобным для
                        людей, Ктулху бессмертен, обладает огромной силой и может пережить даже самый сильный ущерб.
                        Также, возможно, может летать. Он обладает большим интеллектом, поскольку он всё, что
                        происходит во вселенной. Также владеет огромными телепатическими способностями.
                    </p>
                    <p>Вероятно, самой заметной чертой Ктулху является тот факт, что он, наряду с остальными его
                        родственниками, не может быть постигнут людьми; когда человек пристально смотрит на Ктулху,
                        он почти наверняка сойдет с ума от его облика. Ктулху также смог создать город из ниоткуда.
                    </p></h4>
                <h2>«Семейное Древо Ктулху»</h2>
                <h4>
                    <p>Азатот - пра-прадед</p>
                    <p>Йог-Сотот - дед</p>
                    <p>Шуб-Ниггурат - бабушка</p>
                    <p>Наг - родитель</p>
                    <p>Хастур - сводный брат</p>
                    <p>Гатаноа - отпрыск</p>
                    <p>Юготта - отпрыск</p>
                    <p>Зот-Оммог - отпрыск</p>
                    <p>Ктулла - отпрыск</p>
                </h4>
    </div>
    <div id="right">
        <h1 class="topright" class="fix_block">Разделы</h1>
        <div class="rightitem">
            <ul>
                <li><a href="str4.html">Вступление</a></li>
                <li><a href="str40.html">Древние</a></li>
                <li class="selected1"><a href="str41.html">Ктулху</a></li>
                <li><a href="str42.html">Дагон</a></li>
                <li><a href="str43.html">Хастур</a></li>
                <li><a href="str44.html">Азатот</a></li>
                <li><a href="str45.html">Ньярлатхотеп</a></li>
                <li><a href="str46.html">Шаб-Ниггурат</a></li>
                <li><a href="str47.html">Йог-Сотот</a></li>
                <li><a href="str48.html">Старшие боги</a></li>
                <li><a href="str49.html">Глубоководные</a></li>
                <li><a href="str491.html">Старцы</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block menu %}
    <ul>
        <li><a href="index.html"><span>Биография</span></a></li>
        <li><a href="str3.html"><span>Произведения</span></a></li>
        <li><a class="selected" href="str4.html"><span>Бестиарий</span></a></li>
    </ul>
{% endblock %}