<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>template: home</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
    <meta name="author" content="Mikhail Skoptsov"/>
    <link rel="stylesheet" type="text/css" href="spring.css"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="title">
            <h1><a href="index.html">Лавкрафт</a></h1>
            <h1><a href="index.html">Говард Филипс</a></h1>
        </div>
    </div>
    <div id="menu">
        <ul>
            <li><a href="index.html"><span>Биография</span></a></li>
            <li><a href="str3.html"><span>Произведения</span></a></li>
            <li><a class="selected" href="str4.html"><span>Бестиарий</span></a></li>
        </ul>
    </div>
    <div id="content">
        <div id="main">
            <h2><p>Азатот</p></h2>
            <img class="left" src="my_images/str440.jpg"/>
            <h5>Азатот в Некрономиконе</h5>
            <h4>
                <h4>
                    <p>Азатот (Azathoth) — «слепой слабоумный бог» (говорится, что он сам не понимает даже того, что сам
                        создает), «султан демонов» и «ядерный хаос» — верховный «Древний» бог из вселенной Лавкрафта,
                        живущий в самом центре вселенной. Вокруг Азатота под звуки богомерзких флейт пляшут младшие
                        боги.
                    </p>
                    <img class="left" src="my_images/str441.jpg"/>
                </h4>
                <h5>Азатот</h5>
                <h4>
                    <blockquote><p> …тот последний бесформенный кошмар в средоточии хаоса, который богомерзко клубится и
                        бурлит в самом центре бесконечности — безграничный султан демонов Азатот, имя которого не
                        осмелятся произнести ничьи губы, кто жадно жуёт в непостижимых, тёмных покоях вне времени под
                        глухую, сводящую с ума жуткую дробь барабанов и тихие монотонные всхлипы проклятых флейт, под
                        чей мерзкий грохот и протяжное дудение медленно, неуклюже и причудливо пляшут гигантские
                        Абсолютные боги, безглазые, безгласные, мрачные, безумные Иные боги, чей дух и посланник —
                        ползучий хаос Ньярлатотеп.</p>
                        <p> - Г.Ф. Лавкрафт, «В поисках неведомого Кадата»</p></blockquote>
                    <img class="left" src="my_images/str442.jpg"/>
                </h4>
                <h5>Азатот</h5>
                <h4>
                    <p>Определенно, Азатот — самая чудовищная сущность во всей вселенной. Он не покидает свой трон, но
                        приходит ко многим героям во снах или безумных видениях, и один только звук его имени заставляет
                        их содрогаться от ужаса. Как полагается, о нем писал и безумный араб Абдул Альхазред в своем
                        Некрономиконе.
                    </p>
                </h4>
        </div>
        <div id="right">
            <h1 class="topright" class="fix_block">Разделы</h1>
            <div class="rightitem">
                <ul>
                    <li><a href="str4.html">Вступление</a></li>
                    <li><a href="str40.html">Древние</a></li>
                    <li><a href="str41.html">Ктулху</a></li>
                    <li><a href="str42.html">Дагон</a></li>
                    <li><a href="str43.html">Хастур</a></li>
                    <li class="selected1"><a href="str44.html">Азатот</a></li>
                    <li><a href="str45.html">Ньярлатхотеп</a></li>
                    <li><a href="str46.html">Шаб-Ниггурат</a></li>
                    <li><a href="str47.html">Йог-Сотот</a></li>
                    <li><a href="str48.html">Старшие боги</a></li>
                    <li><a href="str49.html">Глубоководные</a></li>
                    <li><a href="str491.html">Старцы</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="clear"></div>
    <div id="footer">
        <p> 2018 Mikhail Skoptsov | XHTML 1.1 | CSS 2.1</p>
    </div>
</div>
</body>
</html>
