<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>template: home</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
    <meta name="author" content="Mikhail Skoptsov"/>
    <link rel="stylesheet" type="text/css" href="spring.css"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="title">
            <h1><a href="index.html">Лавкрафт</a></h1>
            <h1><a href="index.html">Говард Филипс</a></h1>
        </div>
    </div>
    <div id="menu">
        <ul>
            <li><a href="index.html"><span>Биография</span></a></li>
            <li><a href="str3.html"><span>Произведения</span></a></li>
            <li><a class="selected" href="str4.html"><span>Бестиарий</span></a></li>
        </ul>
    </div>
    <div id="content">
        <div id="main">
            <h2><p>Старцы</p></h2>
            <h4>
                <img class="left" src="my_images/str4911.jpg"/>
            </h4>
            <h5>Город Страрцев в Антарктике</h5>
            <h4>
                <p>Старцы (именуются так в "Некрономиконе") - существа, пришедшие из космоса на Землю более 150
                    миллионов лет назад. Их раса была высокоразвита, владела точечным письмом, создавала из протоплазмы
                    существ - Шогготов - для служения себе, и другие виды жизни для употребления в пищу. Изначально
                    Старцы заселили подводное пространство на молодой планете, но позже вышли на сушу, где построили
                    свои города. На один из таких городов в Антарктике натыкается научная экспедиция. По барельефам на
                    строениях города можно узнать об истории Старцев и об их быте. О том, что их творения, Шогготы,
                    восстали против Старцев, что они так же вели войны с протоцивилизациями - потомками Ктулху и Ми-Го.
                    Любопытство учёных приводит к знакомству с этой цивилизацией. Они находят странных существ в
                    пещере.</p>
                <blockquote><p>

                    " Длина каждого экземпляра — два с половиной метра. Само бочкообразное, пяти-складочное тело
                    равняется немногим меньшим двух метров в длину и немногим больше одного — в ширину. Ширина
                    указывается в центральной части, диаметр же оснований — 30см. Все особи темно-серого цвета, хорошо
                    гнутся и необычайно прочные.Двухметровые перепончатые «крылья» того же цвета, найденные сложенными,
                    идут из борозд между складками. Они более светлого цвета, остов трубчатый, на концах имеются
                    небольшие отверстия. В раскрытом состоянии — по краям зубчатые. В центре тела, на каждой из пяти
                    вертикальных, похожих на клепки, складок — светло-серые гибкие лапы-щупальца. Обвернутые в настоящий
                    момент вокруг тела, они способны в деятельном состоянии дотягиваться до предметов на расстоянии
                    метра — как примитивная морская лилия с ветвящимися лучами. Отдельные щупальца у основания — восемь
                    сантиметров в диаметре, через пятнадцать сантиметров они членятся на пять щупалец, каждое из которых
                    еще через двадцать сантиметров разветвляется на столько же тонких, сужающихся к концу щупалец-усиков
                    — так что на каждой «грозди» их оказывается по двадцать пять.Венчает торс светло-серая, раздутая,
                    как от жабр, «шея», на которой сидит желтая пятиконечная, похожая на морскую звезду «головка»,
                    поросшая жесткими разноцветными волосиками длиной в восемь сантиметров. Гибкие желтоватые трубочки
                    длиной восемь сантиметров свисают с каждого из пяти концов массивной (около полуметра в окружности)
                    головки. В самом центре ее — узкая щель, возможно, начальная часть дыхательных путей. На конце
                    каждой трубочки сферическое утолщение, затянутое желтой пленкой, под которой скрывается стекловидный
                    шарик с радужной оболочкой красного цвета — очевидно, глаз.Из внутренних углов головки тянутся еще
                    пять красноватых трубочек, несколько длиннее первых, они заканчиваются своего рода мешочками,
                    которые при нажиме раскрываются, и по краям круглых отверстий, диаметром пять сантиметров, хорошо
                    видны острые выступы белого цвета, наподобие зубов. По-видимому, это рот. Все эти трубочки, волосики
                    и пять концов головки аккуратно сложены и прижаты к раздутой шее и торсу. Гибкость тканей при такой
                    прочности — удивительная.В нижней части туловища находится грубая копия головки, но с другими
                    функциями. На светло-серой раздутой лжешее отсутствует подобие жабр, она сразу переходит в
                    зеленоватое пятиконечное утолщение, тоже напоминающее морскую звезду. Внизу также находятся прочные
                    мускулистые щупальца длиной около метра или больше. У самого туловища ширина их в диаметре
                    составляет восемнадцать сантиметров, но к концу они утончаются, достигая не более шести с половиной
                    сантиметров, и переходят в зеленоватую треугольную перепончатую «лапку» с пятью фалангами. Длина ее
                    — двадцать сантиметров, ширина у «запястья» — пятнадцать. Эта лапа, плавник или нога, словом, то,
                    что оставило свой след на камне от тысячи до пятидесяти—шестидесяти миллионов лет назад. Из
                    внутренних углов пятиконечного нижнего утолщения также тянутся 60см красноватые трубочки, ширина
                    которых колеблется от семи—восьми сантиметров у основания до двух—трех — на конце. Заканчиваются они
                    отверстиями. Трубочки необычайно плотные и прочные и при этом удивительно гибкие.Более, чем метровые
                    щупальца с лапками, несомненно, служили для передвижения — по суше или в воде. Похоже, очень
                    мускулистые. В настоящее время все эти отростки плотно обвиты вокруг лжешеи и низа туловища — точно
                    так же, как и в верхней части.Таинственный организм имел системы пищеварения и кровообращения, а
                    также выбрасывал продукты отходов через красноватые трубки у звездчатого основания. На первый
                    взгляд, органы дыхания потребляли кислород, а не углекислый газ; внутри обнаружились также
                    специальные камеры, где задерживался воздух; вскоре стало понятно, что кислородный обмен
                    осуществляли еще и жабры, а также поры кожи. Голосовые связки находились, видимо, в непосредственной
                    связи с системой дыхания, но имели такие отклонения от нормы, что делать окончательные выводы не
                    стоило. Отчетливая, артикулированная речь вряд ли была возможна, но издавать трубные звуки разной
                    высоты эта тварь вполне могла. Мускулатура была развита даже чрезмерно.Но особенно обескураживает
                    невероятно сложная и высокоразвитая нервная система. Будучи в некоторых отношениях чрезвычайно
                    примитивной и архаичной, эта тварь имела систему ганглиев и нервных волокон, свойственных
                    высокоразвитому организму. Состоящий из пяти главных отделов мозг был удивительно развит,
                    наличествовали и признаки органов чувств. К ним относились и жесткие волосики на головке, хотя
                    полностью уяснить их функцию не удавалось - ничего похожего у других земных существ не имелось.
                    Возможно, у твари было больше, чем пять чувств: с трудом можно представить себе поведение и образ
                    жизни, исходя из известных стереотипов."</p>
                    <p></blockquote>
                <img class="left" src="my_images/str4913.jpg"/>
            </h4>
            <h5>Строение страрцев</h5>
            <h4>
                <blockquote>
                    "Размножалась тварь как бессемянные растения -- ближе всего к папоротникообразным: на кончиках
                    крыльев у нее образовывались споры -- происхождение ее явно прослеживалось от талломных растений и
                    проталлиев. Хотя внешне тварь выглядела как морская звезда, но являлась несравненно более высоким
                    организмом. Обладая признаками растения, она на три четверти принадлежала к животному миру."За
                    характерную особенность формы головы их так же именуют звездоголовыми. Передвигаются Старцы с
                    помощью крыльев и ножек.</p>
                    <p> - Г.Ф.Лавкрафт "Хребты Безумия"
                    <p></blockquote>
                <img class="left" src="my_images/str4914.jpg"/>
            </h4>
            <h5>Страрцы</h5>
            <h4>
            </h4>
        </div>
        <div id="right">
            <h1 class="topright" class="fix_block">Разделы</h1>
            <div class="rightitem">
                <ul>
                    <li><a href="str4.html">Вступление</a></li>
                    <li><a href="str40.html">Древние</a></li>
                    <li><a href="str41.html">Ктулху</a></li>
                    <li><a href="str42.html">Дагон</a></li>
                    <li><a href="str43.html">Хастур</a></li>
                    <li><a href="str44.html">Азатот</a></li>
                    <li><a href="str45.html">Ньярлатхотеп</a></li>
                    <li><a href="str46.html">Шаб-Ниггурат</a></li>
                    <li><a href="str47.html">Йог-Сотот</a></li>
                    <li><a href="str48.html">Старшие боги</a></li>
                    <li><a href="str49.html">Глубоководные</a></li>
                    <li class="selected1"><a href="str491.html">Старцы</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="clear"></div>
    <div id="footer">
        <p> 2018 Mikhail Skoptsov | XHTML 1.1 | CSS 2.1</p>
    </div>
</div>
</body>
</html>
