{% extends "base.html" %}

{% block content %}
    <div id="main">
        <h2><p>Йог-Сотот</p></h2>
        <img class="left" src="my_images/str470.jpg"/>
        </h4>
        <h5>Йог-Сотот в Некрономиконе</h5>
        <h4>
            <p>Роль Йог-Сотота в пантеоне — нейтральное (ложное) божество, хранитель Врат между мирами, физическое
                воплощение мироздания. В рассказе Лавкрафта «Врата Серебряного Ключа» герой называет его «Бытие».
                Йог-Сотот заперт вне нашей Вселенной, он существует одновременно во всех временах и во всём
                пространстве. Это всезнающий бог, силой своей едва ли не превосходящий Йига. По мнению писателя
                Кларка Эштона Смита, Йог-Сотот в одном из своих воплощений мог повелевать временем.
            </p>
            <p>В рассказе «Ужас в Данвиче» (1929) Говард Лавкрафт описал близнецов — детей Йог-Сотота и земной
                женщины. Судя по тому, что один из близнецов, Уилбер Уэйтли, призывал Древних (Old Ones), чтобы
                контролировать второго близнеца, между Йог-Сототом и Древними есть какая-то связь, но связь эта
                неясна. Сам Лавкрафт даёт несколько концептуально разных определений Древних, в том числе и
                определяя их как потомков Ктулху, поэтому обращаться к первоисточнику в данном случае бессмысленно.
            </p>
            <img class="left" src="my_images/str471.jpg"/>
        </h4>
        <h5>Йог-Сотот</h5>
        <h4>
            <blockquote><p>"...Правдива история Ибн Шакабао о том, что лицо Йог-Сотота - это лицо самих небес. Он и
                его огромное пространство - одно и то же, и вращающиеся пересекающиеся круги сфер - это
                упорядоченное движение его мыслей, некоторые из которых движутся быстро, а другие - медленно. Его
                видят в лицо, у него нет тела, поскольку его тело - это сама вселенная, однако не само вещество
                творения, а неосязаемая сущность и его можно воспринимать только как мерцающий диапазон постоянно
                меняющихся цветов, таких, какие можно увидеть на панцире жука или крыле стрекозы в лучах солнца. Ему
                поклоняются люди, которые восхищаются его воротами как Всем в одном, которое является единством
                Всего...Все эти безобразия меньше, чем тот, кто охраняет ворота, тот, кто будет руководить
                безрассудным путешественником, который говорит слова правильно за пределами всех сфер и в пустоте
                невыразимого голода. Поскольку его называют Тавил Ат'Умр, Первый Древнейший...Когда дорога луны и
                дорога солнца пересекаются на небесах, тогда Йог-Сотот приходит, восторженный и мощный,чтобы открыть
                пространства между звездами..."
            </p>
                <p> - «Некрономикон. Странствия Абдула Аль Хазреда» Дональд Тайсон</blockquote>
            </p>
            <img class="left" src="my_images/str472.jpg"/>
        </h4>
        <h5>Йог-Сотот</h5>
        <h4>
            <blockquote><p>"Душа Азатота обитает в Йог-сотхотхе, и Он подаст знак Древним, когда звезды укажут время
                Их прихода; ибо Йог-сотхотх - это те Врата, через которые вернутся Жители Пустоты. Йог-сотхотху
                ведомы лабиринты времени, ибо все время едино для Него. Ему ведомо, где во времени появились Древние
                в далеком прошлом и где Они появятся вновь, когда завершится оборот колеса..."
            </p>
                <p> - «Liber Logaeth» Колин Уилсон
                </p></blockquote>
        </h4>
    </div>
    <div id="right">
        <h1 class="topright" class="fix_block">Разделы</h1>
        <div class="rightitem">
            <ul>
                <li><a href="str4.html">Вступление</a></li>
                <li><a href="str40.html">Древние</a></li>
                <li><a href="str41.html">Ктулху</a></li>
                <li><a href="str42.html">Дагон</a></li>
                <li><a href="str43.html">Хастур</a></li>
                <li><a href="str44.html">Азатот</a></li>
                <li><a href="str45.html">Ньярлатхотеп</a></li>
                <li><a href="str46.html">Шаб-Ниггурат</a></li>
                <li class="selected1"><a href="str47.html">Йог-Сотот</a></li>
                <li><a href="str48.html">Старшие боги</a></li>
                <li><a href="str49.html">Глубоководные</a></li>
                <li><a href="str491.html">Старцы</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block menu %}
    <ul>
        <li><a href="index.html"><span>Биография</span></a></li>
        <li><a href="str3.html"><span>Произведения</span></a></li>
        <li><a class="selected" href="str4.html"><span>Бестиарий</span></a></li>
    </ul>
{% endblock %}