<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>template: home</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
    <meta name="author" content="Mikhail Skoptsov"/>
    <link rel="stylesheet" type="text/css" href="spring.css"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="title">
            <h1><a href="index.html">Лавкрафт</a></h1>
            <h1><a href="index.html">Говард Филипс</a></h1>
        </div>
    </div>
    <div id="menu">
        <ul>
            <li><a href="index.html"><span>Биография</span></a></li>
            <li><a href="str3.html"><span>Произведения</span></a></li>
            <li><a class="selected" href="str4.html"><span>Бестиарий</span></a></li>
        </ul>
    </div>
    <div id="content">
        <div id="main">
            <h2><p>Шаб-Ниггурат</p></h2>
            <h4>
                <p>Шуб-Ниггурат (англ. Shub-Niggurath), также Чёрная коза Лесов с Тысячным Потомством (иначе Чёрная коза
                    Лесов с Тысячью Младых, "Iä! The Black Goat of the Woods with a Thousand Young!") — персонаж
                    мифического пантеона, классифицируется как "божество извращённой плодородности", выдуманного
                    Говардом Лавкрафтом. Впервые упоминается в его рассказе «Последнее испытание» («The Last Test»,
                    1928). У самого Лавкрафта ни разу не описывается, в отличие от его продолжателей, но неоднократно
                    поминается в заклинаниях и воззваниях.
                    Шуб-Ниггурат описывается как туманная, облакоподобная масса cо множеством длинных, чёрных щупалец,
                    роняющими слизь ртами и короткими козлиными ногами. Её сопровождают множество порождённых ею мелких
                    монстрообразных существ, которых она постоянно извергает из себя, а затем снова пожирает и
                    переваривает.
                </p>
                <img class="left" src="my_images/str461.jpg"/>
            </h4>
            <h5>Шаб-Ниггурат</h5>
            <h4>
                <p>Из всех существ мифического пантеона Мифов Ктулху, культ Шуб-Ниггурат описывается как наиболее
                    распространённый. Возможно, потому, что изо всех Древних она единственная, кто проявляет некоторую
                    благосклонность к своей пастве: например, именно она дала жрецу Т'юогу свиток с заклинанием,
                    долженствующим повергнуть Гатаноа. Ей поклоняются даже внеземные Ми-го.
                    Проведя должным образом обряд, можно вызвать Шуб-Ниггурат в любом лесу в новолуние, причём иногда
                    она является в образе прекрасной женщины.
            </h4>
        </div>
        <div id="right">
            <h1 class="topright" class="fix_block">Разделы</h1>
            <div class="rightitem">
                <ul>
                    <li><a href="str4.html">Вступление</a></li>
                    <li><a href="str40.html">Древние</a></li>
                    <li><a href="str41.html">Ктулху</a></li>
                    <li><a href="str42.html">Дагон</a></li>
                    <li><a href="str43.html">Хастур</a></li>
                    <li><a href="str44.html">Азатот</a></li>
                    <li><a href="str45.html">Ньярлатхотеп</a></li>
                    <li class="selected1"><a href="str46.html">Шаб-Ниггурат</a></li>
                    <li><a href="str47.html">Йог-Сотот</a></li>
                    <li><a href="str48.html">Старшие боги</a></li>
                    <li><a href="str49.html">Глубоководные</a></li>
                    <li><a href="str491.html">Старцы</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="clear"></div>
    <div id="footer">
        <p> 2018 Mikhail Skoptsov | XHTML 1.1 | CSS 2.1</p>
    </div>
</div>
</body>
</html>
